.cartWrapper {
  padding: 2rem;
}
.cartCard {
  background-color: #a0ecf9;
  padding: 1rem 1rem 1rem 3rem;
  border-radius: 7px;
}
.cartCard h1 {
  margin: 0 0 20px 0;
}
.productDetail {
  display: flex;
  gap: 1rem;
  font-size: 20px;
}
.productDetail img {
  min-width: 100px;
  border-radius: 4px;
  max-height: 106px;
}
.quantityButton button {
  width: 30px;
  padding: 2px;
  /* margin-right: 10px; */
}
.quantityButton span {
  margin: 0 30px;
}